{% extends 'template.html' %}

{% block content %}
<h2>Bienvenido</h2>
<h3>Últimas 5 actividades</h3>
<table>
  <thead>
    <tr>
      <th>Inicio</th>
      <th>Término</th>
      <th>Comuna</th>
      <th>Sector</th>
      <th>Tema</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    {% for actividad in actividades %}
    <tr>
      <td><time datetime="{{ actividad.dia_hora_inicio }}">{{ actividad.dia_hora_inicio }}</time></td>
      <td><time datetime="{{ actividad.dia_hora_termino }}">{{ actividad.dia_hora_termino }}</time></td>
      <td>{{ actividad.comuna.nombre }}</td>
      <td>{{ actividad.sector or '-' }}</td>
      <td>
        {% if actividad.temas %}
          {% for tema in actividad.temas %}
            {% if tema.tema.name != 'otro' %}
              {{ tema.tema.name }}{% if not loop.last %}, {% endif %}
            {% else %}
              {{ tema.glosa_otro }}{% if not loop.last %}, {% endif %}
            {% endif %}
          {% endfor %}
        {% else %}
          Sin temas
        {% endif %}
      </td>
      <td>
        {% if actividad.fotos and actividad.fotos[0] %}
          <img src="{{ url_for('static', filename=actividad.fotos[0].ruta_archivo ~ '/' ~ actividad.fotos[0].nombre_archivo) }}" width="50" alt="Foto de la actividad">
        {% else %}
          Sin foto
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}