<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" type="text/css" href="../css/styles_estadisticas.css">
</head>
<body>
    <div class="estadisticas-container">
        <h1>Estadísticas</h1>
        <div class="graficos">
            <img src="../img/Grafico1.png" alt="Gráfico 1">
            <img src="../img/Grafico2.png" alt="Gráfico 2">
            <img src="../img/Grafico3.png" alt="Gráfico 3">
        </div>
        <div class="volver-portada">
            <a href="index.html">Volver a la Portada</a>
        </div>
    </div>
</body>
</html>