/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f0fc; /* Fondo lila claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal */
.main-container {
    width: 80%;
    max-width: 800px;
    background-color: #f3e5f5; /* Fondo lila más oscuro */
    border: 2px solid #d1c4e9; /* Borde lila */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título principal */
.main-container h1 {
    text-align: center;
    color: #6a1b9a; /* Lila oscuro */
    margin-bottom: 20px;
}

/* Estilo de los fieldsets */
fieldset {
    border: 2px solid #ba68c8; /* Borde lila */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff; /* Fondo blanco */
}

/* Leyendas de los fieldsets */
fieldset legend {
    color: #6a1b9a; /* Lila oscuro */
    font-weight: bold;
    padding: 0 10px;
}

/* Etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    color: #4a148c; /* Lila más oscuro */
    font-weight: bold;
}

/* Inputs y selects */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d1c4e9; /* Borde lila */
    border-radius: 5px;
    background-color: #f3e5f5; /* Fondo lila claro */
    color: #4a148c; /* Texto lila oscuro */
    font-size: 14px;
}

/* Botones */
button {
    background-color: #6a1b9a; /* Lila oscuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a148c; /* Lila más oscuro */
}

/* Contenedor de fotos */
#foto-container {
    margin-bottom: 15px;
}

/* Mensajes de error */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
#volver-portada-btn {
    background-color: #6a1b9a; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#volver-portada-btn:hover {
    background-color: #4a148c; 
}